/* general */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: "ABeeZee";
  overflow-x: hidden;
  color: black;
}

a {
  color: rgb(0, 123, 109);
}

.bold {
  font-weight: bold;
}

a:hover {
  color: lightcyan;
  text-shadow: 2px 2px 4px rgb(0, 123, 109);
}

.centerText {
  text-align: center;
}

.redText {
  color: red;
  font-weight: bold;
}

h3 {
  text-align: center;
}

.dNone {
  display: none !important;
}

#backgroundImage {
  opacity: 0.2;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.mainContainer {
  flex: 1;
  padding: 16px 60px 16px 60px;
}

button {
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(0, 123, 109);
  color: white;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  box-shadow: 0px 0px 36px rgba(255, 255, 255, 1);
  background-color: rgba(8, 166, 100, 0.2);
  color: lightgrey;
}

.red {
  background-color: rgb(172, 17, 37) !important;
}

.blue {
  background-color: rgb(110, 163, 221) !important;
}

.green {
  background-color: rgb(0, 123, 109) !important;
}

summary {
  font-weight: 800;
}

.flag {
  height: 20px;
  width: 100%;
}

.right {
  position: absolute;
  top: 32px;
  right: 16px;
}

.left {
  position: absolute;
  top: 32px;
  left: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 8px;
  gap: 8px;
  background-color: lightgrey;
  border: black 2px solid;
  border-radius: 10px;
}

input {
  font-size: 1em;
  padding: 16px;
  border-radius: 10px;
}

textarea {
  padding: 16px;
  border-radius: 10px;
  width: 80%;
}

.buttonBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.width90 {
  width: 90%;
}

/* login */

.passwordWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordInput {
  padding-right: 2.5rem;
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.passwordButton {
  cursor: pointer;
  font-size: 1rem;
  padding: 14px !important;
  border-radius: 0 10px 10px 0;
}

.loginBox {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  border-radius: 10px;
  background-color: lightgray;
  padding: 32px;
  margin: 60px;
  gap: 8px;
}

/*Touren*/

.tour {
  padding: 1em;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
}

.tourHeader {
  text-align: center;
  margin-bottom: 0px;
  text-decoration: underline;
}

.buttonLink {
  color: white;
  background-color: rgb(0, 123, 109);
  border: black 2px solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

.buttonLink:hover {
  box-shadow: 0px 0px 36px rgba(255, 255, 255, 1);
  background-color: rgba(8, 166, 100, 0.2);
  color: lightgrey;
}

.signUpForm {
  width: 90%;
}

.signUpInput {
  width: 80%;
}

.signUpLabel {
  display: flex;
  flex-direction: column;
}

.signUpBottom {
  display: flex;
}

.signUpComment {
  height: min-content;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 0;
}

.divider {
  background-color: black;
  height: 1px;
  width: 100%;
}

.marginTop {
  margin-top: 14px;
}

#registrationContainer {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  justify-content: space-around;
}


/*edit Tour*/

#editTourForm {
  width: 90%;
}

/*registration*/

.registrationItem {
  max-width: 90vw;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.registrationItemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.registrationComment {
  overflow: auto;
}

/* Admin*/

#adminLinks {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
}

#adminLinksMobile {
  display: none;
}

/*contact*/
.alert {
  color: rgb(172, 17, 37);
  font-size: 12px;
}

#privacyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

#privacyContainerBox {
  height: 24px;
  width: 24px;
  border: solid 2px rgb(0, 123, 109);
  cursor: pointer;
}

#privacyContainerBox:hover {
  box-shadow: 1px 1px 20px 10px rgba(0, 190, 232, 0.2);
  background-color: rgba(0, 190, 232, 0.2);
}

/*register for website*/
.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: stretch;
}

.editRegistrationModalButtons {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.buttonBelow {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#firstLoginError {
  display: flex;
  justify-content: center;
  color: rgb(172, 17, 37);
}

.contactLink {
  display: flex;
  justify-content: center;
}

/*header*/

header {
  background-color: rgba(8, 166, 100, 0.1);
  width: 100vw;
  box-sizing: border-box;
  padding: 80px 16px 32px 16px;
  display: flex;
  color: rgb(0, 123, 109);
  align-items: center;
  z-index: 99;
}

.logo {
  height: 200px;
  position: absolute;
  top: 32px;
  left: 32px;
}

.nonDeco {
  text-decoration: none;
  color: rgb(0, 123, 109);
}

#subHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#subHeaderTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subHeaderBottom {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

/*footer*/

footer {
  background-color: rgba(8, 166, 100, 0.1);
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  color: rgb(0, 123, 109);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*scroll*/
::-webkit-scrollbar {
  width: 12px; /* Breite des Scrollbalkens */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(
    0,
    123,
    109
  ); /* Farbe des Scrollbalken-Daumens (der bewegliche Teil) */
  border-radius: 4px; /* Abrundung des Scrollbalken-Daumens */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Hintergrundfarbe des Scrollbalken-Tracks (der nicht bewegliche Teil) */
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scrollToTopButton.show {
  display: block;
}

.arrowUp {
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.arrowUp:hover path {
  fill: rgb(0, 123, 109);
}

.arrowUp:hover rect {
  stroke: rgb(0, 123, 109);
}

/*members*/
#addMemberForm {
  display: flex;
  flex-direction: column;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.width90 {
  width: 90%;
}

@media (max-width: 650px) {
  .mainContainer {
    padding: 16px 20px 16px 20px;
  }

  footer {
    flex-direction: column;
  }

  #adminLinks {
    display: none;
  }

  #adminLinksMobile {
    display: flex;
  }

  #adminLinksMobileMenu {
    display: flex;
    background-color: white;
    position: absolute;
    top: 0x;
    left: 0px;
    right: 0;
    padding: 32px;
    z-index: 10;
    justify-content: space-between;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
  }

  .exit {
    border-radius: 100px;
    background-color: rgb(0, 123, 109);
    padding: 8px;
    color: white;
    font-weight: 900;
    max-height: fit-content;
    cursor: pointer;
  }

  .exit:hover {
    box-shadow: 0px 0px 36px rgba(0, 123, 109, 1);
  }

  .loginBox {
    margin: 8px;
  }

  .buttonBelow {
    flex-direction: column;
    gap: 8px;
  }

  .editRegistrationModalButtons {
    flex-direction: column;
  }

  #registrationContainer {
    flex-direction: column;
  }
}
